.main {
    overflow: auto;
    height: 55%;
}

.main-1 {
    color: #fff;
    text-align: center;
}

.name {
    display: block;
    font-size: 25px;
    margin-top: 15px;
}

.desc {
    display: block;
    color: #F3BF99;
    font-size: 12.8px;
    margin-top: 5px;
}


.btn:link {
    text-decoration: none;
    position: relative;
    font-size: 14px;
    width: 115px;
    height: 34px;
    padding: 10px 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}


.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.74);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #374151;
}

.btn-blue {
    background-color: #5093E2;
    color: #fff;
}

.icon {
    display: inline-block;
    position: absolute;
    left: 10%;
}

.main-2 {
    position: relative;
    color: #fff;
    width: 247px;
    left: 50%;
    transform: translateX(-50%);
}

.main-2 > p {
    font-size: 12.24px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 15px;
}

.main-2 > h3 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;

}